{% extends 'core/base.html'%}

{% block title%} Register {% endblock %}
{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Register</h1>
</div>
<form method="post" action="." class="lg:w-1/4 px-4 mx-auto ">
    {% csrf_token %}
    <div class="mb-5">
        <label class="text-white">Username</label>
        <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <div>
        <label class="text-white">Password</label>
        <input type="password" name="password" id="pass1" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <div>
        <label class="text-white">Repeat Password</label>
        <input type="password" name="password2" id="pass1" class="w-full mt-2 px-4 py-2 rounded-xl">
    </div>
    <button type="submit" class="w-full mt-4 mb-10 text-center bg-teal-600 hover:bg-teal-700 text-white py-2 rounded-xl">Register</button>

    {% if form.errors %}
        {% for  field in form %}
            {% for error in field.errors %}
            <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                <p>{{ error|escape }}</p>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <button type="submit" class="bg-teal-800 hover:bg-teal-700 text-white px-4 py-2 rounded-xl">Submit</button>
</form>
{% endblock %}